<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false"
         cacheDirectory="cache/.phpunit.cache"
         displayDetailsOnTestsThatTriggerWarnings="true">
  <php>
    <ini name="error_reporting" value="-1"/>
    <ini name="xdebug.mode" value="coverage"/>
  </php>
  <testsuites>
    <testsuite name="Unit">
      <directory suffix=".php">tests/Unit</directory>
    </testsuite>
  </testsuites>
  <logging>
    <testdoxText outputFile="log/phpunit.log"/>
  </logging>
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
  </source>
</phpunit>
